/ {
	buttons {
		button_enable: button_enable {
			gpios = <&gpio0 15 GPIO_INT_ACTIVE_HIGH>;
			label = "Button enable";
		};
	};

	touch {
		compatible = "gpio-keys";
		touch_interrupt: touch_interrupt {
			gpios = <&gpio0 28 GPIO_INT_ACTIVE_HIGH>;
			label = "Touch controller interrupt";
		};
	};

	aliases {
		touch-interrupt = &touch_interrupt;
		button-enable = &button_enable;
	};
};

&i2c1 {
	cst816s@15 {
		reg = <0x15>;
		label = "CST816S";
	};
};